fastapi==0.115.0
uvicorn==0.32.0
pandas==2.2.3
numpy==1.26.4
yfinance==0.2.43
keras==3.7.0
tensorflow==2.18.0
scikit-learn==1.5.2
transformers==4.47.0
torch==2.5.1
ripser==0.6.8
persim==0.3.7
feedparser==6.0.11
requests==2.32.3
python-dotenv==1.0.1
pydantic==2.10.3
tqdm==4.67.1
joblib==1.4.2
pytz==2024.2
